<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="center-container">
        <div class="content">
            <h2>Upload a CSV File</h2>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Choose CSV File</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            
            <!-- Display Flash Messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>